$moss-green: #AEDAA6;
$bg-color: $moss-green;
$primary-text: #515151;
$secondary-text: #969696;

*{
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  font-family: "Frutiger Neue W02 Book",Arial,Helvetica,sans-serif;
}

.container {
  width: 40.6em;
  background: white;
  margin: 6.3em auto 0;
  border-radius: .1em;
  position: relative;
}

header {
  position: relative;

  .back {
    height: 4.5em;
    line-height: 4.5em;
    border-bottom: .05em solid #F0F0F0;
    text-transform: uppercase;
    font-size: .68em;
    padding-left: 3.4em;
    color: $secondary-text;
    position: relative;

    &::before {
      content: " ";
      height: .5em;
      width: .5em;
      border-top: .1em solid $secondary-text;
      border-left: .1em solid $secondary-text;
      position: absolute;
      left: 2em;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  img {
    display: inline-block;
    height: 1.1em;
    width: 1.1em;
    position: absolute;
    right: .9em;
    top: 50%;
    transform: translateY(-50%);
  }
}

main {
  display: block;
  .img-box {
    border-right: .05em solid #F0F0F0;
    display: inline-block;
    width: 17.2em;
    height: 20.4em;
    overflow: hidden;
  }

  img {
    width: 16em;
    margin: 0 auto;
    display: block;
  }

  aside {
    display: inline-block;
    width: 23em;
    vertical-align: top;
    padding: 2.7em 1.8em 0;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.21em;
      margin: 0;
      color: $primary-text;
    }

    .title-info {
      text-transform: uppercase;
      font-size: 0.68em;
      margin-top: .5em;
      color: $secondary-text;
    }

    .price {
      font-size: 1.45em;
      margin-top: .8em;
      color: $primary-text;
    }

    .desc {
      color: $secondary-text;
      font-size: .77em;
      line-height: 1.75em;
      margin-top: 1.35em;
    }
  }
}